* {
    padding:0.25em;
    margin:0.25em;
}

main {
    display: flex;
    flex-direction: row;
}

.future-card {
    background-color: #323D4F;
    color: white;
    margin: 0.25em;
    min-width: 10vw;
}

.search-current-el {
    margin: 0.5rem;
}

#future-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-div {
    text-align: center;
    background: linear-gradient(to right, #465AB8, #261360);
    color: white;
}

#results-current {
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
}

#search-current {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
}

#search-history {
    display: flex;
    flex-direction: column;
}

