* {
    padding:0.25em;
    margin:0.25em;
}

main {
    display: flex;
    flex-direction: row;
}

.future-card {
    background-color: black;
    color: white;
    margin: 0.25em;
    min-width: 10vw;
}

.search-current-el {
    margin: 0.5rem;
}

#search-current {
    display: flex;
    flex-direction: column;
}

#future-days {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}